
h2 {
    float: left;
    text-align: center;
    width: 200px;
    border: 1px solid black;
    padding-left: 35px;
    padding-right: 35px;
    margin: auto;
    background-color: lightgray;
}
h3 {
    float: left;
    text-align: center;
    width: 200px;
    border: 1px solid black;
    padding-left: 35px;
    padding-right: 35px;
    margin: auto;
    background-color: goldenrod;
}
h4 {
    float: left;
    text-align: center;
    width: 200px;
    border: 1px solid black;
    padding-left: 35px;
    padding-right: 35px;
    margin: auto;
    background-color: red;
}
#buttonSpace {
    padding-bottom: 50px;
    padding-top: 50px;
    margin: auto;
    width: 50px;
}
form {
    width: 1082px;
    background-color: lightslategray;
}
body {
    width: 1088px;
    margin: auto;
    background-color: darkgray;
}

#title1 {
    width: 1088px;
    margin: auto;
    background-color: lightslategray;
}